body {
background: #D7D3C7;
}

.navbar-inverse {
background: rgba(94, 138, 180, 1.0);
}

.logo {
padding-top: 8px;
background: url('/images/aquaveo_logo.png') no-repeat 0 8px;
background-size: 200px 33px;
width: 250px;
height: 40px;
}